.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title {
  color: white;
  font-size: 8rem;
  width: 155vh;
  line-height: 0.5;
  text-shadow: #030303f1 5px 0 10px;
}
.title span {
  color: red;
  text-shadow: #000000 10px 0 15px;
}

.subtitle {
  font-size: 1.5rem;
}

.imageWrapper {
  position: relative;
  width: 96%;
  height: 100%;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.arrowDown {
  position: relative;
  margin-top: 200px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  animation: bounceDown 1.5s infinite ease-in-out;
  box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.5);
}

@keyframes bounceDown {
  0%,
  100% {
    transform: rotate(-45deg) translateY(0);
  }
  50% {
    transform: rotate(-45deg) translateY(20px);
  }
}
@media (max-width: 1117px) {
  .title {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }
}
@media (max-width: 992px) {
  .title {
    width: 140vh;
  }
}
@media (max-width: 896px) {
  .title {
    font-size: 5rem;
    width: 120vh;
  }
}
@media (max-width: 822px) {
  .title {
    font-size: 4rem;
    width: 80vh;
  }
  .subtitle {
    font-size: 1.1rem;
  }
  .container {
    margin-left: 1.5%;
  }
}
@media (max-width: 790px) {
  .container {
    width: 47rem;
  }
}
@media (max-width: 706px) {
  .container {
    height: 120vh;
  }
}
@media (max-width: 612px) {
  .container {
    height: 140vh;
  }
}
@media (max-width: 522px) {
  .container {
    height: 160vh;
  }
  .overlay {
    margin-top: 20%;
  }
  .title {
    font-size: 5rem;
    width: 90vh;
  }
}
@media (max-width: 425px) {
  .container {
    height: 190vh;
    width: 190vw;
  }
  .overlay {
    margin-top: 20%;
  }
  .title {
    font-size: 6rem;
    width: 100vh;
  }
  .subtitle {
    font-size: 1.4rem;
  }
}
@media (max-width: 375px) {
  .container {
    height: 230vh;
    width: 220vw;
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
  .container {
    height: 250vh;
    width: 225vw;
  }
}
