.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.459);
  padding: .5%;
  z-index: 500;
}
.icon {
  margin: 15px 0;
}
.icon :hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.39);
  border-radius: 20%;
  transform: scale(1.1);
  transition: ease-in-out 0.4s;
}
@media (max-width: 770px) {
  .sidebar {
    right: auto;
    left: 0; 
    width: 4%;
  }
}
@media (max-width: 425px) {
  .sidebar {
    width: 3%;
  }
}