.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 100vw;
  max-height: 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0% 30%;
  text-align: center;
  color: white;
  width: 20%;
}
.title {
  font-size: 4rem;

}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
  color: white;
  position: absolute;
  top: calc(50% + 30%);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  background-color: rgba(128, 128, 128, 0.801);
  border: 0 solid #41393ab9; 
  border-left-width: 2px; 
  border-right-width: 10px; 
  border-bottom-width: 10px;
  margin-top: 2%;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end; 
  padding-right: 9%; 
}

.button {
  background-color: #d7dce2e7; 
  color: rgb(0, 0, 0); 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-decoration: none; 
  font-size: 1rem; 
  display: inline-block;
  
}

.button:hover {
  color: white;
  background-color: #41393a;
  transition: ease-in-out 0.5s;
}