.header {
  margin: 0 2%;
}
.body{
    background-color: whitesmoke;
    margin: 0px;
}

.section{
  background-color: white;
  padding: 2%;
}
.div{
  width: 70%;
  align-items: center;
  margin: 0 auto;
}
.footer{
}
@media (max-width: 768px) {
  .div {
   padding: 10%;
  }
}
@media (max-width: 425px) {
  .div {
   padding: 10%;
   height: 150vh;

  }
}