::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d83e55;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}
main{
  width: 100%;
}

