.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 100vw;
  max-height: 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0% 30%;
  text-align: center;
  color: #e9b965;
  width: 20%;
}
.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
  color: white;
  position: absolute;
  top: calc(50% + 30%);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  background-color: #c29343ef;
  border: 0 solid rgba(0, 0, 0, 0.7);
  border-left-width: 2px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  margin-top: 2%;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 9%;
}

.button {
  background-color: #3a2d17;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  transition: ease-in-out 0.5s;
}

.button:hover {
  color: white;
  transition: ease-in-out 0.5s;
  background-color: #c29343ef;
}
@media (max-width: 1440px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
  .buttonContainer {
    padding-right: 5%;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    margin-top: 4%;
    font-size: 0.96rem;
    width: 74%;
  }
  .buttonContainer {
    display: none;
  }

  .image {
    width: 103%;
  }
  .container {
    height: 100vh;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 2rem;
  }
  .overlay {
    width: 50%;
    padding: 0% 10%;
  }
  .subtitle {
    font-size: 1.5rem;
    width: 130%;
    left: 90%;
    margin-top: 12%;
  }
  .image {
    width: 120vh;
    height: 90vh;
  }
  .container {
    height: 200vh;
  }
}
@media (max-width: 375px) {
  .subtitle {
    width: 180%;
    left: 110%;
  }
  .container {
    height: 250vh;
  }
}
