.contactSection {
  background-color: #e9b965;
  width: 85%;
  margin: 0 auto;
  margin-top: 5%;
}

.containerContact {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 87vh;
}

.image {
  width: 70%;
  height: auto;
  align-self: flex-end;
}

.contactForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 0 2%;
  height: 87vh;
}
.contactForm h1 {
  font-size: 3em;
  color: #e9b965;
  margin: -.5em 0 0;
}
.contactForm h4 {
  color: #e9b965;
  margin: 0;
}
.exclamacion {
  font-size: 2em;
  color: #d61431;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-top: -.5em;
}

.inputGroup {
  width: 100%;
}

.inputGroup input,
.inputGroup textarea {
  padding: 1em;
  margin-bottom: 10%;
  background: none;
  border: none;
  border-bottom: 1px solid #e9b965;
  color: #e9b965;
  width: 100%;
  font-size: 1em;
}

.inputGroup textarea {
  height: 150px;
  color: #e9b965;
  padding: 1.5em;
  border: 1px solid #d61431;
  font-size: 1.1em;
}

.inputGroup.errorGroup input,
.inputGroup.errorGroup textarea {
  margin-bottom: 0;
}

.btnSubmit {
  color: #979797;
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: #d61431;
  border-radius: 20px;
  cursor: pointer;
}
.btnSubmit:hover {
  color: white;
}
.error {
  color: red;
  font-size: 0.8em;
  margin-bottom: .1em;
}
.successMessage{
    font-size: 2em;
    color: #d61431;
}
.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  cursor: pointer;
}
.socialIcon {
  margin: .5em .5em;
  width: 20px; 
  height: 20px; 
}
@media (max-width: 0px) {

}